.hero {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?cs=srgb&dl=adulte-bureau-chaise-citadin-380769.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
