@import "../../styleGuide/variables.scss";
.hero {
  padding: 8% 0%;
  .cta {
    width: 50%;
    margin-top: 7%;

    .welcome-title {
      font-size: 2.5rem;
      font-weight: 400;

      margin-bottom: 5%;
      .mobarmij {
        color: $primary-color;
      }
    }
    .welcome-description {
      margin-bottom: 8%;
      line-height: 28px;
      color: $secondary-color;
    }
  }
  .image-div {
    width: 55%;
    .image-img {
      width: 100%;
      border-radius: 50px;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .image-div {
    position: relative;
    .image-div {
      position: absolute;
      bottom: 0;
    }
  }
}
@media screen and (min-width: $screen-md) and (max-width: 970px) {
  .hero {
    .cta {
      .welcome-title {
        font-size: 2rem;
        margin-bottom: 3%;
      }
      .welcome-description {
        margin-bottom: 4%;
        line-height: 28px;
        color: $secondary-color;
      }
    }
    .image-div {
      width: 45%;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .hero {
    padding: 0em;
    .cta {
      text-align: center;
      width: 100%;
      margin-top: 7%;
      order: 2;
      .welcome-title {
        font-size: 1.8rem;
        font-weight: 400;

        margin-bottom: 3%;
        .mobarmij {
          color: $primary-color;
        }
      }
      .welcome-description {
        margin-bottom: 4%;
        line-height: 28px;
        color: $secondary-color;
      }
    }
    .image-div {
      order: 1;
      width: 85%;
      .image-img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
}
