@import "../../styleGuide//variables.scss";

.project-card {
  position: relative;
  width: 28%;
  height: 100%;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05);
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
  .project-card-img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    .project-card-img {
      transform: scale(1.1);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-transform-origin: center center;
      transform-origin: center center;
    }
  }
  .project-description {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 5;
    padding: 32px;
    background-color: $bg-color;
    .project-type {
      color: $secondary-color;
    }
    .project-name {
      font-size: 18px;
      color: $text-color;
    }
  }
}

@media screen and (max-width: $screen-lg) {
  .project-card {
    width: 30%;
    height: 60%;

    .project-description {
      height: 100px;
      width: 100%;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      z-index: 5;
      padding: 32px;
      background-color: $bg-color;
      .project-type {
        color: $secondary-color;
      }
      .project-name {
        font-size: 18px;
        color: $text-color;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .project-card {
    width: 100%;
    height: 50%;
    margin: 5% auto;
    .project-description {
      height: 100px;
      width: 100%;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      z-index: 5;
      padding: 32px;
      background-color: $bg-color;
      .project-type {
        color: $secondary-color;
      }
      .project-name {
        font-size: 18px;
        color: $text-color;
      }
    }
  }
}
