@import "./styleGuide/variables.scss";

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 95%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: $screen-md) {
  /*breakpoint*/
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.col {
  flex: 1; /*grow*/
}
@media screen and (min-width: $screen-lg) {
  .container {
    max-width: 1024px;
  }
}
